<div *ngIf="employee">
  <h2>{{employee.name | uppercase}} Details</h2>
  <div>
    <span>Employee id: </span>{{employee.employeeCode}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="employee.name" placeholder="name" />
    </label>
  </div>
  <div>
    <label>Title:
      <input [(ngModel)]="employee.jobTitleName" placeholder="Title.." />
    </label>
  </div>
  <div>
  <label>PhoneNumber:
    <input [(ngModel)]="employee.phoneNumber" placeholder="Phone.." />
  </label>
</div>
<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>
</div>
